@import "@fontsource/inter/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 98%;
}

.smooth {
  transition: all 800ms ease-in-out;
}

.testimonials:nth-child(0) {
  background: rgb(160 216 49 / 0.2);
}

.mobile-menu {
  z-index: 9999;
}

input ,
textarea{
  outline: none;
}

.hero-2 {
  background: url("./assets/temp/login.png");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
/* .testimonials {
  background: #a0d831
} */

@layer components {
  .smooth {
    @apply transition-all delay-500 duration-500 ease-in-out;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.btn-primary {
  background: #a0d831;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  transition: all 800ms ease-in-out;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.btn-primary:hover {
  background: #b1d767;
}
.btn-primary-login {
  border: 1px solid #a0d831;
  background: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #a0d831;
  transition: all 800ms ease-in-out;
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.btn-link.text-active {
  color: white;
}
.btn-primary-login:hover {
  background: #a0d831;
  color: white;
}

.btn-link {
  color: #a0d831;
  transition: all 800ms ease-in-out;
}

.btn-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.active {
  position: fixed;
  z-index: 9999;
  background-color: rgb(160 216 49 / 0.55);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  top: 0;
}

.tw-container {
  max-width: 91%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.accordion-content {
  transition: max-height 0.3s ease-out, padding 0.3s ease;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Add this CSS to your stylesheet */
.accordion-header.a-active {
  background-color: #a0d831; /* Example background color when active */
}

/* Optional styling for the transition */
.transition-max-height {
  transition: max-height 0.3s ease-in-out; /* Adjust duration as needed */
}
.grid-cat-3 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;

  img {
    width: 100%;
    object-fit: cover;
    height: 280px;
  }
}

.back-to-top {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}
/*
@media (min-width: 320px) {
    .grid-cat {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 1rem;
    }
}

@media (min-width: 640px) {
    .grid-cat {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
} */

/* HTML: <div class="loader"></div> */
/* .loader {
    width: 40px;
    height: 40px;
    color: #f03355;
    background:
      conic-gradient(from  -45deg at top    20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from   45deg at right  20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from  135deg at bottom 20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
      conic-gradient(from -135deg at left   20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg);
    animation: l4 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  @keyframes l4 {
     50%  {width:60px;height: 60px;transform: rotate(180deg)}
     100% {transform: rotate(360deg)}
  } */

.z-xl {
  z-index: 999999;
}
